body {
    margin: auto;

}

/* CLASSES */

.animation_pause {
    animation-play-state: paused;
}

.blur {
    filter: blur(5px);
}

.hide {
    display: none;
}

/* ANIMATIONER */

/* Animation til startknap */
.pulse {
    animation-name: pulse_effekt;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_effekt {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.1);
    }
}

/* Fade animation til at skjule startskærmen ved klik på startknap */
.hide_start {
    animation-name: startfade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes startfade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.pige_animation {
    animation-name: kjole_blafre;
    animation-duration: 5s;
    animation-timing-function: steps(4);
}

@keyframes kjole_blafre {
    40% {
        background-position: 0% 0%;
    }

    70% {
        background-position: -400% 0%;
    }
}


.vind_animation {
    animation: vind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
}

@keyframes vind {
    20% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 500% 0%;

    }
}

#telefon {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 3.5%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 50.5vw;
    left: 50.5vw;

    z-index: 2;
}

#telefon2 {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 2.5%;
    height: 9%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 52.5vw;
    left: 59.5vw;

    z-index: 2;
}

#telefon3 {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 2.5%;
    height: 9%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 53vw;
    left: 67.5vw;

    z-index: 2;
}

#telefon4 {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 3.5%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 49vw;
    left: 75vw;

    z-index: 2;
}

#telefon5 {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 2.5%;
    height: 8%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 50vw;
    left: 84vw;

    z-index: 2;
}

#telefon6 {
    position: absolute;
    background-image: url(elements/game/object/mobil.svg);
    width: 2.5%;
    height: 8%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 50vw;
    left: 92vw;

    z-index: 2;
}


.silhuetter_animation {}

.silhuetter_mobil {}

.upload {}

.disappear {}

.pige_ked {}


/* SCREEN */

#screen {
    position: relative;

    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    /*    cursor: cell;*/
}

/* STARTSKÆRM */

#start {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(elements/start/screen/Final_start.svg);
    background-size: 100%;

    z-index: 1;
}

#pige_blinker {
    animation-name: pige_blinker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    position: absolute;
    background-image: url(elements/game/object/pige_blinker.svg);
    background-size: 400% 100%;
    height: 40vw;
    width: 40vw;
    top: 10vw;
    left: 55vw;
}

#ui_elementer {}

#start_knap {
    position: relative;
    width: 25vw;
    height: 11vw;
    background-image: url(elements/start/object/knap_start.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    left: 40vw;
    top: 33vw;

    z-index: 2;
}

#settings_knap {
    position: relative;
    width: 8vw;
    height: 8vw;
    background-image: url(elements/start/object/tandhjul.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    left: 87vw;
    top: 32vw;

    z-index: 2;
}

#billeder {
    position: relative;
}

#billede1 {
    position: absolute;
    background-image: url(elements/game/object/billede1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 10vw;
    width: 10vw;
    top: 8vw;
    left: 70vw;
}

#billede2 {
    position: absolute;
    background-image: url(elements/game/object/billede_mobil_2%20copy.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    top: 20vw;
    left: 60vw;
}

#billede3 {
    position: absolute;
    background-image: url(elements/game/object/billede_trae.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 16vw;
    top: 40vw;
    left: 70vw;
}

#privatfoto1 {
    position: absolute;
    background-image: url(elements/game/object/privatfoto1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12vw;
    height: 12vw;
    top: 3vw;
    left: 55vw;
}

#privatfoto2 {
    position: absolute;
    background-image: url(elements/game/object/privatfoto2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17vw;
    height: 17vw;
    top: 24vw;
    left: 80vw;

    z-index: 8;
}

#privatfoto3 {
    position: absolute;
    background-image: url(elements/game/object/privatfoto3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14vw;
    height: 14vw;
    top: 35vw;
    left: 55vw;


}

/* SETTINGS */

#settings {
    position: absolute;
    background-image: url(elements/setting/settings.svg);
    width: 100vw;
    height: 56vw;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;


}

#settings_knapper {}

#toggle_sound {
    width: 15vw;
    height: 15vw;
    position: absolute;
    background-image: url(elements/setting/toggleknap.svg);
    background-size: 500% 100%;
    background-repeat: no-repeat;
    left: 55vw;
    top: 18vw;
}

#toggle_music {
    width: 15vw;
    height: 15vw;
    position: absolute;
    background-image: url(elements/setting/toggleknap.svg);
    background-size: 500% 100%;
    background-repeat: no-repeat;
    left: 55vw;
    top: 26vw;
}

#close_settings {
    width: 10vw;
    height: 20vw;
    position: absolute;
    background-image: url(elements/setting/Artboard%203.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    left: 62vw;
    top: 8vw;
}


/* SPILSKÆRM */

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(elements/game/gamescreen.svg);
    background-size: 100%;

    z-index: 1;
}

#game_background {}

#game_elements {}

#pige_kjole {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-image: url(elements/game/object/pige_kjole.svg);
    background-size: 400% 100%;

    left: 25vw;
    top: 20vw;

    z-index: 3;
}

#silhuetter {
    position: absolute;
    background-image: url(elements/game/object/silhuet_sprite.svg);
    width: 200%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 31.5vw;
    left: -49vw;

    z-index: 3;
}



#vind {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-image: url(elements/game/object/wind.svg);
    background-size: 500% 100%;

    top: 25vw;
    left: 5vw;

    z-index: 4;
}

.skyflyver {
    animation-name: skyflyver;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

#skyer {
    position: absolute;
    width: 100%;
    height: 25%;
    background-image: url(elements/game/object/sky.svg);
    background-size: contain;
    background-repeat: no-repeat;

    top: 5vw;
    left: 35vw;

    z-index: 3;
}

#trae {
    position: absolute;
    background-image: url(elements/game/object/trae.svg);
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;

    top: 13vw;
    left: 70vw;

    z-index: 2;

}

#fugl {
    position: absolute;
    background-image: url(elements/game/object/fugl.svg);
    width: 10%;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;

    top: 22vw;
    left: 74vw;

    z-index: 2;
}

#privatfoto1 {
    position: absolute;
    background-image: url(elements/game/object/billede_pige.svg);
}

#privatfoto2 {
    position: absolute;
    background-image: url(elements/game/object/billede_privat1.svg);
}

#privatfoto3 {
    position: absolute;
    background-image: url(elements/game/object/billede_privat2.svg);
}

#godbesked1 {
    position: absolute;
    background-image: url(elements/game/object/ros1.svg);
}

#godbesked2 {
    position: absolute;

    background-image: url(elements/game/object/ros2.svg);
}

#godbesked3 {
    position: absolute;
    background-image: url(elements/game/object/ros3.svg);
}

/* UI: Energy */

#energy {}

#liv1 {
    position: absolute;
    background-image: url(elements/game/object/batteri-opdateret.svg);
    width: 2.5%;
    height: 8%;
    background-size: contain;
    background-repeat: no-repeat;

    left: 10vw;
    top: 1vw;

    z-index: 3;
}

#liv2 {
    position: absolute;
    background-image: url(elements/game/object/batteri-opdateret.svg);
    width: 2.5%;
    height: 8%;
    background-size: contain;
    background-repeat: no-repeat;

    left: 15vw;
    top: 1vw;

    z-index: 3;
}

#liv3 {
    position: absolute;
    background-image: url(elements/game/object/batteri-opdateret.svg);
    width: 2.5%;
    height: 8%;
    background-size: contain;
    background-repeat: no-repeat;

    left: 20vw;
    top: 1vw;

    z-index: 3;
}


/* UI: Timer */

#timer {}

#loadleader {}

#loadprogress {}

#loadbar {}

/* GAMEOVER */

#gameover {}

#gameover_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(elements/end/screen/gameoverscreen.svg);
    background-size: 100%;

    z-index: 1;
}

#gameover_text {}

#videre_knap {
    position: absolute;
    width: 30vw;
    height: 9vw;
    background-image: url(elements/end/object/videreknap.svg);
    background-size: 100%;

    left: 52vw;
    top: 44vw;

    z-index: 1;
}

#pigetrist {}


/* ENDSCREEN */

#endscreen {}

#end_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(elements/end/screen/endscreen.svg);
    background-size: 100%;

    z-index: 1;
}

#endscreen_text {}

#logoknap {
    position: absolute;
    width: 25vw;
    height: 18vw;
    background-image: url(elements/end/object/ps_logo.svg);
    background-size: 100%;

    left: 36vw;
    top: 36vw;

    z-index: 2;
}

#replay {
    position: absolute;
    width: 16vw;
    height: 6vw;
    background-image: url(elements/end/object/replayknap.svg);
    background-size: 100%;

    left: 5vw;
    top: 45vw;

    z-index: 2;
}

@keyframes skyflyver {
    0% {
        left: 10vw;
    }

    50% {
        left: 20vw;
    }

    100% {
        left: 0vw;
    }
}

@keyframes pige_blinker {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400%;
    }
}
