body {
    margin: auto;
}

/* C

.hide {
    display: none;
}

/* ANIMATIONER */

.pulse {
    animation-name: pulse_effekt;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_effekt {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.1);
    }
}

/* SCREEN */

#screen {
    position: relative;
    width: 100vw;

    /*    overflow: hidden;*/
}

/* STARTSKÆRM */

#start {}

#ui_elementer {}

#start_knap {}

#settings_knap {}

#figur_elementer {}

#figur1 {}

#figur2 {}

#figur3 {}

/* SETTINGS */

#settings {}

#settings_knapper {}

#toggle_sound {}

#toggle_music {}

#close {}

/* SPILSKÆRM */

#game {
    /*
    position: absolute;
    width: 100%;
    height: 100%;
background-image: url(elements/??);
    background-size: 100%;
*/
}

#game_background {}

#game_elements {}

#pige_kjole {}

#silhuetter {}

#skyer {}

#trae {}

#telefon {}

#blitz {}

#fugl {}

/* UI: Energy */

#energy {}

#liv1 {}

#liv2 {}

#liv3 {}

/* UI: Timer */

#timer {}

#loadleader {}

#loadprogress {}

#loadbar {}

/* GAMEOVER */

#gameover {}

#gameover_background {}

#gameover_text {}

#videre_knap {}

#pigetrist {}

/* FAKTA */

#fakta {}

#fakta_background {}

#faktaboks {}

#elementer {}

#logo {}

#pil {}


/* ENDSCREEN */

#endscreen {}

#end_background {}

#endscreen_text {}

#logoknap {}

#replay {}
